{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #2c3e50;
        color: #ecf0f1;
    }
    .container {
        padding-top: 50px;
    }
    .card {
        background-color: #34495e;
        border: 1px solid #f39c12;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;
    }
    .card h4 {
        color: #f39c12;
        margin-bottom: 10px;
    }
    .link {
        display: block;
        margin-top: 20px;
        color: #f39c12;
        text-decoration: none;
    }
    .link:hover {
        text-decoration: underline;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="card">
        <h4>Dashboard</h4>
        <p>Welcome to your dashboard. Here you can find various insights about railway crack checking .</p>
        <a href="notifications.html" class="link">Go to Notifications</a>
    </div>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
