{% extends "layouts/base.html" %}

{% block title %} Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card mt-4">
                <div class="card-header p-3">
                    <h4 class="card-title">Notifications</h4>
                </div>
                <div class="card-body">
                    {% for alert in alerts %}
                    <div class="alert alert-{{ alert.type }} alert-dismissible text-white" role="alert">
                        <span class="text-sm"><strong>Detected:</strong> {{ alert.disease }}. <strong>Treatment:</strong> {{ alert.recommendation }}</span>
                        <img src="{{ url_for('static', filename='uploads/' ~ alert.image_path) }}" alt="Captured Image" class="img-fluid mt-2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
