{% extends "layouts/base-fullscreen.html" %}

{% block title %}Sign Up{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
{% endblock stylesheets %}

{% block content %}
<div class="page-header">
  <span class="mask"></span>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 col-12">
        <div class="card z-index-0">
          <div class="card-header text-center">
            <h4 class="font-weight-bolder">Sign Up</h4>
            <p class="mb-0">Register here</p>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" class="text-start">
              <div class="input-group input-group-outline mb-3">
                <input type="text" name="name" class="form-control" placeholder="Name">
              </div>
              <div class="input-group input-group-outline mb-3">
                <input type="email" name="email" class="form-control" placeholder="Email">
              </div>
              <div class="input-group input-group-outline mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password">
              </div>
              <div class="text-center">
                <button type="submit" class="btn custom-blue w-100 my-4 mb-2">Sign Up</button>
              </div>
            </form>
          </div>
          <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <p class="mb-2 text-sm mx-auto">
              Already have an account?
              <a href="{{ url_for('authentication_blueprint.login') }}" class="text-primary font-weight-bold">Sign In</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer-fullscreen.html' %}
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
